<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brotli.NET" version="2.1.1" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.21.12" targetFramework="net472" />
  <package id="Google.Protobuf.Tools" version="3.21.12" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="QRCoder" version="1.4.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="WebPSharp" version="0.5.1" targetFramework="net472" />
</packages>